/*document level styling*/
body {
	background-image: none;
}

/*nav level styling*/

/*results_container level styling*/

/*flight_results level styling*/
#flight_results {
}

/*hotel_results level styling*/

/*events_results level styling*/
#events_results {
background:white;
padding-right: 5px;
}

/*map_results level styling*/
#map_results {
 background:white;
}