@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Source+Sans+Pro');

body {
    background-image: url('http://www.hotel-r.net/im/hotel/mx/tropical-resort-13.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
    z-index: -1;
}

nav .brand-logo {
    padding-left: 25px;
    font-family: 'Abhaya Libre', serif;
    color: #76C7CA;
}

nav {
    background-color: #fff;
}

nav .nav-list a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #76C7CA;
}

#welcome {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #020202;
    z-index: 10;
    padding-top: 50px;
}

.form-box {
    margin: 20px auto 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

#locationLabel {
    padding-top: 20px;
}

.btn {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

